html, body{margin:0;height:100%;width: 100%;background-color: transparent;}
body{
padding: 1px;
padding-top: 33px;}

#app-container{

    /*-webkit-box-shadow: inset 0px 0px 13px -1px rgba(50, 50, 50, 1);
    -moz-box-shadow:    inset 0px 0px 13px -1px  rgba(50, 50, 50, 1);
    box-shadow:         inset 0px 0px 13px -1px rgba(50, 50, 50, 1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
}

/*********************/
/* REMOTE-CONTROLLER */
/*********************/

.play-stop{
    float: left;
}
.update-interval{
    float: right;
}
.custom-button{
    background-color: transparent;
    border: transparent;
}
.custom-button-control{
    background-color: black;
     -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 6px 1px #C7C7C7;
    box-shadow: 0 0 6px 1px #C7C7C7;
}

/*+********************/
/* PURE STYLE */
/*+********************/

.red-cool-border{
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 6px 1px #61020B;
    box-shadow: 0 0 6px 1px #61020B;
}

.gray-cool-border{
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 6px 1px #C7C7C7;
    box-shadow: 0 0 6px 1px #C7C7C7;
}

/*********************/
/* NAVIGATION */
/*********************/
.navbar-nav > li > a {padding-right:0px !important; padding-top:0px !important; padding-bottom:0px !important;}
.navbar { padding-right:0px !important; padding-left:10px !important; min-height:30px !important}

.navbar-right{padding-right:0px !important;}
.nav{padding-right:90px !important; padding-top:0px !important; padding-bottom:0px !important;}

.navbar-nav > li > a {padding-right:0px !important; padding-top:5px !important; padding-bottom:0px !important;}
.nav .navbar {padding-right:0px !important; padding-left:10px !important;}


/*************/
/* SVG BOXES */
/*************/

.description{
padding: 30px;
padding-left: 30px;
padding-right: 30px;
text-align: left;

}

/* BARS STATISTICS */
.progress.vertical {
    position: relative;
    width: 20px;
    min-height: 240px;
    float: left;
    margin-right: 20px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.bars-container{
    padding-left: 20px;
    padding-right: 30px;
    width: 400px;
    height: 200px;
}