<div class="description">	
<pre style="font-weight:bold;">Boxes</pre> 
<pre>It is made to stress the UI. With its over 1500 boxes, the main idea of this simulator is to test performance.
It continuously generates 2 random colours in the specified interval of time. 
</pre>
<pre>On the left side there is the SVG image. Every single box has 2 properties:
The border and the fill color.
On the right side, there is the Simulator Manager composed of 2 parts:
 1. Remote control: controls the demo (play/stopt). Set´s up the interval of time
    the data is refreshed (ms).
 2. The logger: logs every event.
</pre>
</div>