<div class="description">	
<pre style="font-weight:bold;">Sum</pre>
<pre>Is a system that generates 6 random numbers in the specified interval of time and performs the adition.
Also performs some actions to the result and generates some statistics.
</pre>
<pre>The main idea is how cool an SVG image can be, and its potential. Here some cool free galleries:
<a href="http://wiki.inkscape.org/wiki/index.php/Galleries">http://wiki.inkscape.org/wiki/index.php/Galleries</a>
</pre>
<pre>On the left side there is the SVG image which contains 3 adders.
On the right side, there is the Simulator Manager composed of 3 parts:
 1. Remote control: Controls the demo. Set´s up the interval time the data is refreshed (ms).
 2. The logger: logs every single event.
 3. Statistics: how Random is the adition of 6 random numbers after applying the MOD 8 to the result? 
</pre>
</div>